<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Shopee Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 col-md-5 col-sm-12 shadow rounded-3">
                <div class="alert alert-danger p-5">
                    <h1>Laptop Shopee</h1>
                    <p class="text-end">Laptop stock mangement</p>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 col-sm-12 rounded-5 align-self-center">
                <h1 class="text-center text-danger">Laptop shopee LOGIN</h1>
                <form action="/" method="post">
                    <div class="form group">
                        <label>USER NAME please</label>
                        <input type="text" name="username" placeholder="USERNAME" class="form-control"/>
                    </div>
                    <div class="form group">
                        <label>PASS WORD please</label>
                        <input type="password" name="password" placeholder="PASSWORD" class="form-control"/>
                    </div>
                    <div class="mt-2 row justify-content-evenly">
                        <button type="submit" class="col-2 btn btn-outline-primary">
                            <h2 class="bi bi-box-arrow-in-right"></h2>
                        </button>
                        <button type="reset" class="col-2 btn btn-outline-danger">
                            <h2 class="bi bi-x-square-fill"></h2>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>